<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webbylab-test-task|meniailo</title>
    <style>
        body{
            display: grid;
            place-items: center;
        }
    </style>
</head>
<body>
    <h1>File Uploader</h1>
    <form action="/movie/load-web" method="post" enctype="multipart/form-data">
        <input type="file" name="myFile" id="" required>
        <input type="submit" value="upload">
    </form>
</body>
</html>